@import url("https://fonts.googleapis.com/css2?family=Tapestry&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&family=Rokkitt:wght@600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.tailwind-title {
  @apply text-4xl  h-20  mb-4 border-b border-gray-300
  flex justify-center items-center text-center rounded-xl
  bg-gradient-to-br from-cyan-200 from-5% via-sky-300 via-20% to-blue-600
  text-white;
}

.flex-box {
  @apply flex flex-col gap-4 mb-10;
}

.flex-box h3 {
  @apply text-2xl font-bold border-b border-gray-300 pb-3;
}

.flex-box > div {
  @apply border rounded-lg p-3;
}

.project {
  @apply p-0 rounded-xl overflow-hidden hover:shadow-md;
}

.project-title {
  @apply px-6 py-4 text-2xl text-blue-500 text-center font-bold bg-blue-100;
}

.text-gradient {
  @apply animate-text bg-gradient-to-r from-teal-500 via-purple-500 to-orange-500 
  bg-clip-text text-transparent text-2xl lg:text-4xl;
}
